$light-purp: #cfcff1ad;   
$light-red: #f1e0cf;
$light-blue: #cff1f1;
$neon-blue: #2ff4ff6b;

.mainHeroBkg {
  background-image: url("/assets/images/mainHeroTest2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: white;
  height: 92vh;
}

.discoverBodyHero {
  background-image: url("/assets/images/mainHeroTest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  background-color: white;
  min-height: 500px;
}

.fadedBlue {
  background: rgba(22,85,133,0.7);
}

.titleColor {
  color: #ffffff;
}

.mainHeader {
  font-size: 68px;
  letter-spacing: 1.2px;
  font-family: monoton; 
}

.monoton {
  font-family: monoton; 
}

.titleShadow {
  text-shadow: 1px 1px #161515;
}

.f0 {
  font-size: 4rem;
}

.spacer {
  height: 75vh;

&__text {
  z-index: 10;
  top:25%;
}
}

.searchBarGray {
  background: #201f22
}

.searchResult {
  z-index: 100;
}
.textRecordGray {
  color: #424242;
}
// search
.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
  color: #ffff;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 1;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4:hover button.icon:hover{
  background: white;
}



/deep/ .mat-input-underline {
  background-color: white;
}


.searchAlbum {
  background: #dcdbdb8f;
  height: 360px;
}
.albumImg {
  height: 225px;
}

.results-wrapper {
  background-color: $light-purp;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  box-shadow: 0 24px 48px -12px rgba(0,0,0,.1);
  width: 140px;

  &__primary {
    background: #ffa323;
    border: 1px solid #ffa323;
    color: #fff;
  }

  &__secondary {
    border-color: rgba(255,255,255,.8);
    background: 0 0;
    border-width: 1px;
    color: #fff;
  }
}

.image {
  background-repeat: no-repeat;
  background-size: cover;

  &__grow {
    background-image: url('/assets/images/collectionHero.png');
  }
  &__share {
    background-image: url('/assets/images/recordbody-cartoon.png');
  }
  &__spin {
    background-image: url('/assets/images/mainHeroTest.jpg');
  }
}
.section {
  &__title {
    font-size: 3.5rem;
    color: #ffa323;
    font-family: cursive;
    letter-spacing: 11px;

  }
  &__subtitle {
    font-size: 2rem;
    position: relative;
    top: -13px;
    color: #2b2929d6;
    font-weight: 600;
  }
  
  &__body {
    line-height: 30px;
    font-size: 1.25rem;
    text-align: left;
  }
  &__img {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    &__right {
      right: 0;
    }
  }
}