  
<nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-light pb0 navBarColor">
    <!-- <a class="navbar-brand" href="#">Track That Record</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-fill w-100 flex">
        <li class="nav-item mh2">
            <a class="nav-link white" [routerLink]="[ '/login' ]" data-toggle="tab" routerLinkActive="active">Track That Record</a>
        </li>
        <li class="nav-item  mh2">
          <a class="nav-link link white" [routerLink]="[ '/discover' ]" data-toggle="tab" routerLinkActive="active" >Discover</a>
        </li>
        <li class="nav-item  mh2">
          <a class="nav-link link white" [routerLink]="[ '/mycollection' ]" data-toggle="tab" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item  mh2">
          <a class="nav-link link white" [routerLink]="[ '/' ]"  data-toggle="tab" (click)="logout()"> logout</a>
        </li>
      </ul>
    </div>
  </nav>